extends layout

block content
  include partials/nav

  aside.trending__tags
  main.feed(data-feed-type=`${feed}` data-username=`${username}` data-tag=`${tag}`)
    .container
      if feed != 'user-feed'
        .row: h2= feed + ' - ' + tag
      else
        .row
          h2= 'Ola ' + username + ' 👋'
          h5 Aqui estao os artigos de quem segues
    .container
      .row.feed-insert
      .btn.btn-primary.load-more-posts Mostrar mais artigos
  script(src='/js/showdown.min.js')
