extends layout

block content
  include partials/nav

  main.create-post
    h1 Criar Artigo
    form(action="/post/create-post/" method="post")
      label Titulo
      input(type="text" name="title")
      label Conteudo
      textarea(name="post")
      label Tags
      input(type="text" name="tags")
      button.btn.btn-primary(type="submit") Publicar
      p Publicar como #{name}
      p #{msg}
